<h3 id="main-title">Bills</h3>
<hr />
<div class="main-content" id="bills">
	<div class="panel panel-default">
		
	  <ul class="list-group">
	    <li class="list-group-item">
	    	<a ng-click="back()"  class="btn btn-default"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> 
			<span class="lead">Details</span>
			<div class="btn btn-default btn-favicon" style="float: right;" ng-click="addToFav('bills', result)"> 
				<i id="bill-{{result.bill_id}}" class="fa fa-star fav-icon {{isFav?'fav-icon-active':''}}"></i>
			</div>
			<!-- <div class="btn btn-default" style="float: right;" ng-click="addToFav('legislators', pInfo)" ><i class="fa fa-star fav-active"></i></div> -->
		</li>
	    <li class="list-group-item">
			<div class="row">
				<div class="col-md-6">
					
					<table class="table" style="table-layout: fixed; word-wrap: break-word;">
						<tr>
							<td class="col-md-3"><b>Bill ID</b></td>
							<td>{{result.bill_id.toUpperCase()}}</td>
						</tr>
						<tr>
							<td><b>Title</b></td>
							<td>{{result.official_title}}</td>
						</tr>
						<tr>
							<td><b>Bill Type</b></td>
							<td>{{result.bill_type.toUpperCase()}}</td>
						</tr>
						<tr>
							<td><b>Sponsor</b></td>
							<td>{{result.sponsor.title}}. {{result.sponsor.last_name}}, {{result.sponsor.first_name}}</td>
						</tr>
						<tr>
							<td><b>Chamber</b></td>
							<td>{{result.chamber == 'house' ? 'House' : 'Senate'}}</td>
						</tr>
						<tr>
							<td><b>Status</b></td>
							<td>{{result.history.avtice == 'false' ? 'New' : 'Active'}}</td>
						</tr>
						<tr>
							<td><b>Introduced On</b></td>
							<td>{{result.introduced_on}}</td>
						</tr>
						<tr>
							<td><b>Congress URL</b></td>
							<td>{{result.urls.congress}}</td>
						</tr>
						<tr>
							<td><b>Version Status</b></td>
							<td>{{result.last_version.version_name}}</td>
						</tr>
						<tr>
							<td><b>Bill URL</b></td>
							<td><a href="{{result.last_version.urls.pdf}}">Link</a></td>
						</tr>
					</table>
				</div>
				<div class="col-md-6" height="100%">
					<object data="{{result.last_version.urls.pdf}}" type="application/pdf" width="100%" height="100%">
				</div>
			</div>
		</li>
	  </ul>

	</div>
</div>
