<h3 id="main-title">Committees</h3>
<hr />
<div class="main-content" id="legislators">
	<ul class="nav nav-tabs main-content-tabs" id="committees-tab" role="tablist">
		<li role="presentation" class="{{tab == 'house'? 'active' : 'dummy' }}">
			<a href="#/committeesList/house" id="house-tab" role="tab" data-toggle="tab" aria-controls="house" aria-expanded="true">House</a>
		</li>
		<li role="presentation" class="{{tab == 'senate'? 'active' : 'dummy' }}">
			<a href="#/committeesList/senate" role="tab" id="senate-tab" data-toggle="tab" aria-controls="senate" aria-expanded="false">Senate</a>
		</li>
		<li role="presentation" class="{{tab == 'joint'? 'active' : 'dummy' }}">
			<a href="#/committeesList/joint" role="tab" id="joint-tab" data-toggle="tab" aria-controls="joint" aria-expanded="false">Joint</a>
		</li>
	</ul>
	<div class="tab-content" id="table-content">
		<div class="tab-pane fade active in" role="tabpanel" id="house" aria-labelledby="house-tab">
			<div class="panel panel-default main-panels">
				<div class="panel-heading">
					<b>{{panelHeader}}</b> 
					<input ng-model="queryCommittee" style="float:right;" placeholder="Search">
					
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th></th>
							<th>Chamber</th>
							<th>Committee ID</th>
							<th>Name</th>
							<th ng-if="tab != 'joint'">Parent Committee</th>
							<th ng-if="tab == 'house'">Contact</th>
							<th ng-if="tab == 'house'">Office</th>
						</tr>
						<tr dir-paginate="result in results | filter:queryCommittee |  itemsPerPage: 10">
							<td>
								<div class="btn btn-default" ng-click="addToFav('committees', result)">
									<i id="comm-{{result.committee_id}}" class="fa fa-star fav-icon {{checkIsFav('comm-' + result.committee_id)?'fav-icon-active':''}}"></i>
								</div>
							</td>
							<td>
								<img src="{{result.chamber == 'house'? 'h.png' : 's.svg'}}" style="width:30px; height:30px;" />
								{{result.chamber == 'house' ? 'House' : result.chamber == 'senate' ? 'Senate' : 'Joint'}}
							</td>
							<td>{{result.committee_id}}</td>
							<td>{{result.name}}</td>
							<td ng-if="tab != 'joint'">{{result.subcommittee == true ? result.parent_committee_id : ''}}</td>
							<td ng-if="tab == 'house'">{{result.phone}}</td>
							<td ng-if="tab == 'house'">{{result.office != null ? result.office : 'N.A'}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="tab-pagination">
			<dir-pagination-controls></dir-pagination-controls>
		</div>
	</div>
</div>