* {
    box-sizing: border-box;
}

/**:not(.fa) {
	font-family: 'Ek Mukta', sans-serif;
}*/

/** navigation **/
.custom-nav {
	background-color: #FFFFFF !important;
	min-height: 40px !important;
	height: 40px;
	margin-bottom: 1px !important;
}

	.nav-div-wrapper {
		width: 100%;
	}
	
	.nav-fix {
		float: left;
		width: 30px;
		height: 40px;
		padding-top: 10px;
	}
	
	.nav-fluid {
		margin-left: 30px;
	}

	#menu-icon {
		font-size:20px;
		color: #000000;
	}
	
	#nav-logo {
		margin: 5px auto;
		display: block;
		text-align:center;
	}
	
	#nav-logo img {
		margin-top: -10px;
		height: 20px;
	}
	
	.navbar-header {
		width: 100%;
	}

	.nav-show {
		margin-left: 40px;
	}
	
	.nav-hide {
		margin-left: 0px !important;
	}
	
	#logo-text {
		font-weight: 700;
		font-size: 1.5em;
	}
	
/** main body**/ 
.custom-container {
	width: 100%;
    height: 100%;
}	
	
.menu {
    width: 40px;
    float: left;
    background-color: #333;
	height: 100%;
	color: #CFCFCF;
}


.main {
	width: auto;
    /*float: right;
    width: 100%;*/
    height: 100%;
    /*margin: 0 -50px 0 auto;*/
    background-color: #f8f8f8;
    margin-left: 40px;
    /*margin-top: 40px;*/
    padding-top: 5px;
    min-width: 332px;
    overflow: scroll !important;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2px;
    padding-top:  15px;
    position: relative;
}

	.menu ul li {
		padding-top: 15px;
		padding-bottom: 10px;
		cursor: pointer;
	}

	.menu a, .menu a:visited {
		text-decoration: none;
		color: #FFFFFF !important;
	}
	
	.menu a:hover, .menu a:active {
		text-decoration: none;
		color: #FFFFFF !important;
		font-weight: bold;
	}
	
	
.sidebar-text {
	display: none;
}

.sidebar-icon {
	padding-left: 10px;
	font-size: 1.5em !important;
}

.main-content {
	margin-right: 15px;
	margin-left: 15px;
	background-color: #FFFFFF;
	border: 1px solid #CFCFCF;
}

.main-content-tabs {
	height: 42px;
}

.main-panels {
	margin: 15px;
	/*max-height: 600px !important;*/
	overflow: auto;
}

	
@media only screen and (min-width: 768px) {

	.menu {
	    width: 150px;
	}

	.main {
	    /*width: 83.33%;*/
	    margin-right: 0px;
	    margin-left: 150px;
	}

	.sidebar-text {
		display: inline;
		padding-left: 5px;
	}
	
	.sidebar-icon {
		font-size: 1em !important;
	}
	
	.nav-show {
		margin-left: 150px;
	}
	
	.table {
		font-size: 1em !important;
	}
	
	.largescreen {
		display: table-cell;
	}
}


/** tab pagination*/
.tab-pagination {
	text-align: center;
}	


#stateSelect, #inputState, .search-input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    width: 150px !important;
}


.fav-icon {
	color: white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    /*text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;*/
}

.fav-icon-active {
	color: yellow !important;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}	


.fixtable {
	table-layout: fixed; 
	word-wrap: break-word;
	overflow: scroll;
}

.panel-heading {
	height: 50px;
}

	.panel-heading-left, .panel-heading-right {
		width: 50%; 
		float:left; 
		display: inline; 
		word-wrap: break-word;
		text-overflow: clip;
	}
	
	.panel-heading-left {
		padding-right: 45px;
		font-weight: 700;
	}

#main-title {
	margin-left: 15px;
}

.main hr {
	margin: 15px;
}


.legislator-img {
	/*width: 100%;*/
	max-height: 200px;
	margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
	.largescreen {
		display: none !important;
	}
}


.favlist table {
	min-width: 600px;
}

.btn-removefav:hover {
	color: red !important;
}

/** page animation **/

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(100%); }
}

/* slide in from the bottom */
@keyframes slideOutRight {
	to 		{ transform: translateX(0%); }
}

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

.page-detail.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;   
}
.page-detail.ng-enter 		{  
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;    
}




