<h3 id="main-title">Legislators</h2>
<hr />
<div class="main-content" id="legislators">
	<div class="panel panel-default">
		<!-- <div class="panel-heading" style="background-color: white;">
			<a ng-click="back()"  class="btn">Back</a> 
			<span>Details</span>
			<a href="#" style="float: right;">Favorite</a>
		</div>
	  	<div class="panel-body">
	    	
	  	</div> -->
	  <ul class="list-group">
	    <li class="list-group-item">
	    	<a ng-click="back()"  class="btn btn-default"><i class="fa fa-chevron-left" aria-hidden="true"></i></a> 
			<span class="lead">Details</span>
			<div class="btn btn-default btn-favicon" style="float: right;" ng-click="addToFav('legislators', pInfo)"> 
				<i id="legi-{{pInfo.bioguide_id}}" class="fa fa-star fav-icon {{isFav?'fav-icon-active':''}}"></i>
			</div>
			<!-- <div class="btn btn-default" style="float: right;" ng-click="addToFav('legislators', pInfo)" ><i class="fa fa-star fav-active"></i></div> -->
		</li>
	    <li class="list-group-item">
			<div class="row">
				<div class="col-md-6">
					<table class="table" style="table-layout: fixed; word-wrap: break-word;">
						<tr>
							<td rowspan="5" class="col-md-6">
								<img src="https://theunitedstates.io/images/congress/original/{{pInfo.bioguide_id}}.jpg" style="width:90%; height: 90%;"/>
							</td>
							<td>{{pInfo.title}}. {{pInfo.last_name}}, {{pInfo.first_name}}</td>
						</tr>
						<tr>
							<td ng-if="pInfo.oc_email != null"><a href="mailto:{{pInfo.oc_email}}">{{pInfo.oc_email}}</a></td>
							<td ng-if="pInfo.oc_email == null">N.A</td>
						</tr>
						<tr>
							<td>Chamber: {{pInfo.chamber}}</td>
						</tr>
						<tr>
							<td>Contact: {{pInfo.phone}}</td>
						</tr>
						<tr>
							<td>
								<img src="{{pInfo.party == 'R'? 'r.png' : pInfo.party == 'D'? 'd.png' : ''}}" style="width:30px; height:30px;" />
								{{pInfo.party == 'R'? 'Republican' : pInfo.party == 'D'? 'Dem' : 'N.A'}}
							</td>
						</tr>
					</table>
					<table class="table" style="table-layout: fixed; word-wrap: break-word;">
						<tr>
							<td class="col-md-4"><b>Start Term</b></td>
							<td>{{pInfo.term_start}}</td>
						</tr>
						<tr>
							<td><b>End Term</b></td>
							<td>{{pInfo.term_end}}</td>
						</tr>
						<tr>
							<td><b>Term</b></td>
							<td><div class="progress">
								<div class="progress-bar" role="progressbar" style="width:{{progress}}%; background-color: #4CAF50">
									<div id="label" style="text-align: center; color: white;">{{progress}}%</div>
								</div>
    							</div>
    						</td>
						</tr>
						<tr>
							<td><b>Office</b></td>
							<td>{{pInfo.office}}</td>
						</tr>
						<tr>
							<td><b>State</b></td>
							<td>{{pInfo.state_name}}</td>
						</tr>
						<tr>
							<td><b>Fax</b></td>
							<td>{{pInfo.fax == null ? 'N.A' : pInfo.fax}}</td>
						</tr>
						<tr>
							<td><b>Birthday</b></td>
							<td>{{pInfo.birthday}}</td>
						</tr>
						<tr>
							<td><b>Social Links</b></td>
							<td>
								<a href="https://twitter.com/{{pInfo.twitter_id}}" ng-if="pInfo.twitter_id != null"><img src="t.png" style="width:40px; height:40px;" /></a>
								<a href="https://www.facebook.com/{{pInfo.facebook_id}}" ng-if="pInfo.facebook_id != null"><img src="f.png" style="width:40px; height:40px;" /></a>
								<a href="{{pInfo.website}}" ng-if="pInfo.website != null"><img src="w.png" style="width:40px; height:40px;" /></a>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<p class="lead">Committees</p>
					<table class="table" style="table-layout: fixed; word-wrap: break-word;">
						<tr>
							<th class="col-sm-1">Chamber</th>
							<th class="col-sm-1">Committee ID</th>
							<th class="col-sm-4">Name</th>
						</tr>
						<tr ng-repeat="cmt in pCommittees">
							<td>{{cmt.chamber}}</td>
							<td>{{cmt.committee_id}}</td>
							<td>{{cmt.name}}</td>
						</tr>
					</table>
					<p class="lead">Bills</p>
					<table class="table" style="table-layout: fixed; word-wrap: break-word;">
						<tr>
							<th class="col-sm-1">Bill ID</th>
							<th class="col-sm-3">Title</th>
							<th class="col-sm-1">Chamber</th>
							<th class="col-sm-1">Bill Type</th>
							<th class="col-sm-1">Congress</th>
							<th class="col-sm-1">Link</th>
						</tr>
						<tr ng-repeat="bill in pBills">
							<td>{{bill.bill_id}}</td>
							<td>{{bill.official_title}}</td>
							<td>{{bill.chamber}}</td>
							<td>{{bill.bill_type}}</td>
							<td>{{bill.congress}}</td>
							<td><a href="{{bill.last_version.urls.pdf}}">Link</a></td>
						</tr>
						
					</table>
				</div>
			</div>
		</li>
	  </ul>

	</div>
</div>
